{% extends 'base.html' %}
{% block content %}
<h1>detail page</h1>

    <h1>{{ post.title }}</h1>
    <p>{{ post.created_at }}</p>
    <p>{{ post.body }}</p> 
    <br>
    <a href="{% url 'commentcreate' user.id post.id %}">댓글작성하기</a>
    <form method='POST'>
      {% csrf_token %} 
      {{form}} 
      <button type='submit'>댓글등록</button>
    </form>
    <br>

    <h4>댓글목록</h4>
    {% for comment in post.comment_set.all %}
            {{comment.content}}<br>
    {% endfor %}
    <br><br><br>
    <a href="{% url 'humanhome' %}">돌아가기</a>
    {% endblock %}