{% extends 'base.html' %}

{% block content %}

    {% if not posts %}

        <h1>검색 결과가 없습니다</h1>

    {% else %}

        {% for post in posts.all %}
        <div class="container"> 
            <div class="card">
                <div class="card-body">
                    <p>제목: {{post_search.title}}<p>
                    <p>날짜: {{post_created_at | date:"Y-m-d" }}</p>
                    <p>내용: {{post_search.body}}</p>
                    <p>{{ post.summary }}<a href="{% url 'dpage' post.id %}"> ...자세히 보기</a></p> 
                </div>
            </div>
        </div>
        <br>
        {% endfor %}

    {% endif %}

{% endblock %}



